
    <div class="item">
    <form action="/memes" method="post">
       <input type="text" name="name" placeholder="Name" autocomplete="off">
       <input type="text" name="caption" placeholder="caption" autocomplete="off">
       <input type="text" name="url" placeholder="Image url" autocomplete="off">
       <button type="submit" name="post" >Submit</button>
    </form>
    </div>
